Repository gustavbarbosaa/Nepa-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

altera titulo da aplicacao e favicon
  public/favicon.ico
  src/index.html
Due: prettier --write

criando home da aplicacao
  src/app/app.routes.ts
  src/app/features/home/components/card-details-home/card-details-home.component.css
  src/app/features/home/components/card-details-home/card-details-home.component.html
  src/app/features/home/components/card-details-home/card-details-home.component.ts
  src/app/features/home/components/card-fast-action/card-fast-action.component.css
  src/app/features/home/components/card-fast-action/card-fast-action.component.html
  src/app/features/home/components/card-fast-action/card-fast-action.component.ts
  src/app/features/home/components/card-title-home/card-title-home.component.css
  src/app/features/home/components/card-title-home/card-title-home.component.html
  src/app/features/home/components/card-title-home/card-title-home.component.ts
  src/app/features/home/components/home-layout/home-layout.component.css
  src/app/features/home/components/home-layout/home-layout.component.html
  src/app/features/home/components/home-layout/home-layout.component.ts
  src/app/features/home/pages/home/home.page.html
  src/app/features/home/pages/home/home.page.ts
  src/app/shared/components/drawer/drawer.component.ts
  src/pallete.html
Due: prettier --write, eslint --fix

ajusta estilo de cards
  src/app/features/home/components/card-details-home/card-details-home.component.html
  src/app/features/home/components/card-title-home/card-title-home.component.html
Due: prettier --write

ajusta o design da home
  src/app/features/home/pages/home/home.page.html
Due: prettier --write

adiciona link noi card de acao rapida
  src/app/features/home/components/card-fast-action/card-fast-action.component.html
  src/app/features/home/components/card-fast-action/card-fast-action.component.ts
  src/app/features/home/pages/home/home.page.html
  src/app/features/home/pages/home/home.page.ts
Due: prettier --write, eslint --fix

ajusta vizualização de botoes apenas para o professor
  src/app/features/projects/components/form-frequency/form-frequency.component.html
  src/app/features/projects/components/form-frequency/form-frequency.component.ts
  src/app/features/projects/components/table-projects/table-projects.component.html
  src/app/features/projects/components/table-projects/table-projects.component.ts
  src/app/features/projects/pages/project-controls/project-controls.page.html
  src/app/features/projects/pages/project-controls/project-controls.page.ts
Due: prettier --write, eslint --fix

remove console.log
  src/app/features/projects/components/form-frequency/form-frequency.component.ts
  src/app/features/projects/pages/project-controls/project-controls.page.ts
Due: prettier --write, eslint --fix

pacotes
  package-lock.json
  package.json
Due: prettier --write

remove configuracao dark de alguns componentes
  src/app/features/projects/components/form-frequency/form-frequency.component.html
  src/app/shared/components/button-logout/button-logout.component.css
  src/app/shared/components/button/button.component.ts
  src/app/shared/components/drawer/drawer.component.html
  src/app/shared/components/list-item/list-item.component.css
  src/app/shared/components/list-item/list-item.component.html
  src/app/shared/components/logo/logo.component.ts
Due: prettier --write, eslint --fix

desabilita tema escuto
  src/app/app.config.ts
  src/app/shared/components/list-item/list-item.component.css
Due: prettier --write, eslint --fix

remove filtro de curso na listagem de projetos
  src/app/features/projects/components/header-projects/header-projects.component.html
  src/app/features/projects/components/header-projects/header-projects.component.ts
  src/app/features/projects/components/table-projects/table-projects.component.ts
  src/app/features/projects/services/project-signal/project-signal.service.ts
Due: prettier --write, eslint --fix

altera botao de abrir drawer para fixed
  src/app/shared/components/drawer/drawer.component.css
Due: prettier --write

desabilita envio de form de frequencia, caso ja esteja preenchido
  src/app/features/projects/components/form-frequency/form-frequency.component.html
  src/app/features/projects/components/form-frequency/form-frequency.component.ts
Due: prettier --write, eslint --fix

drawer fechado por padrao
  src/app/shared/components/drawer/drawer.component.ts
Due: prettier --write, eslint --fix

remove componentes que não estão sendo utilizados
  src/app/features/controls/components/list-controls/list-controls.component.css
  src/app/features/controls/components/list-controls/list-controls.component.html
  src/app/features/controls/components/list-controls/list-controls.component.ts
  src/app/features/projects/components/table-students-in-project/table-students-in-project.component.css
  src/app/features/projects/components/table-students-in-project/table-students-in-project.component.html
  src/app/features/projects/components/table-students-in-project/table-students-in-project.component.ts
Due: prettier --write, eslint --fix

adiciona loading nas tabelas de carregamento
  src/app/features/notices/components/table-notices/table-notices.component.html
  src/app/features/notices/components/table-notices/table-notices.component.ts
  src/app/features/projects/components/table-my-projects/table-my-projects.component.html
  src/app/features/projects/components/table-projects/table-projects.component.html
  src/app/features/projects/pages/project-controls/project-controls.page.html
  src/app/features/students/components/table-students/table-students.component.html
  src/app/features/subscriptions/components/table-subscriptions/table-subscriptions.component.html
  src/app/features/teachers/components/table-teacher/table-teacher.component.html
  src/app/shared/components/table-list-items/table-list-items.component.html
  src/app/shared/components/table-list-items/table-list-items.component.ts
Due: prettier --write, eslint --fix

altera url de environment para prod
  src/environments/environment.ts
Due: prettier --write, eslint --fix

adiciona ci/cd
  .github/workflows/deploy.yml
Due: none

ajusta host
  .github/workflows/deploy.yml
Due: none

ajusta o caminho do dist
  .github/workflows/deploy.yml
Due: none

ajusta build pelo nx
  .github/workflows/deploy.yml
Due: none

instanlando nx
  .github/workflows/deploy.yml
Due: none

remove build deuplicado
  .github/workflows/deploy.yml
Due: none

altera pra password
  .github/workflows/deploy.yml
Due: none

DEBUG
  .github/workflows/deploy.yml
Due: none

remove debug
  .github/workflows/deploy.yml
Due: none

adiciona informacoes do servidor no proprio arquivo
  .github/workflows/deploy.yml
Due: none

ajusta para ubuntu latest
  .github/workflows/deploy.yml
Due: none

ajusta para ubuntu
  .github/workflows/deploy.yml
Due: none

AJUSTADO PARA PRIVATE KEY
  .github/workflows/deploy.yml
Due: none

teste
  .github/workflows/deploy.yml
Due: none

teste2
  .github/workflows/deploy.yml
Due: none

teste3
  .github/workflows/deploy.yml
Due: none

teste4
  .github/workflows/deploy.yml
Due: none

Path conditions:
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{html,css,scss,json,md})
  eslint --fix: any of: *.{js,jsx,ts,tsx}
